/*

Easy Profile Template
http://www.templatemo.com/free-website-templates/467-easy-profile

*/

html, body {
  margin:0;border:0;padding:0;
  font-size:16px;
  font-family:'Proxima';
  overflow-x:hidden;
  position: relative;
  vertical-align: baseline;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1 {font-size:40px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:18px;}

h2 {
  padding-bottom: 14px;
}

.accent {
  font-family: 'Proxima Bold';
  line-height: 14px;
  color: #60A9F0;
}

.bold {
	font-weight: bold;
}

.tm-border {
	border: 5px solid #fff;
	box-shadow: 2px 2px #000;
}

.shadow {
	text-shadow: 1px 1px #000;
}

.tm-title {
	color: #66CCFF;
}

.white {
  color: #fff;
}

.about,.skills,
.education,.languages,
.contact, .experience {
  padding: 40px;
  min-height: 330px;
}

.education, .languages,
.contact, .experience {
  margin-top: 30px;
}

@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

/* preloader section */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
   z-index: 99999;
   display: -webkit-flex;
    display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row nowrap;
   -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
     -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
    background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: #3366CC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
          animation: sk-innerCircle 1s linear infinite; }
.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* header section */
header {
  text-align: center;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  padding-top: 160px;
  padding-bottom: 140px;
}
header img {
  display: inline-block !important;
}
header h2 {
  padding-top: 40px;
}
header hr {
  border-color: #3366CC;
  width: 100px;
}

/* about section */
.about {
  background: #fff;
  box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

.msgbox1 {
	min-height:40px;
    max-width:500px;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:5%;
	border: none;
	background:url(../images/msgbox.png);
	background-size:100% 100%;
}

.msgbox1 p{
	margin-top:3%;
	color:rgba(255,255,255,1);
	font-size:small;
}

.silverbar {
	min-height:40px;
    max-width:500px;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:5%;
	border: none;
	background:url(../images/silverbar.png);
	background-size:100% 100%;
}

.silverbar p {
	margin-bottom:3%;
	margin-top:3%;
	color:rgba(255,255,255,1);
	text-shadow:-1px 1px 0 #000,  
    -1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	 margin-left: 5%;
	 font-size:small;
}

.silverbar select {
	color:rgba(0,0,0,1);
	margin-left:5%;
	font-size:small;
}

.goldbar {
	min-height:40px;
    max-width:500px;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:5%;
	border: none;
	background:url(../images/goldbar.png);
	background-size:100% 100%;
}

.goldbar p {
	margin-bottom:3%;
	margin-top:3%;
	color:rgba(255,255,255,1);
	text-shadow:-1px 1px 0 #000,  
    -1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.goldbar input {
	background-color:rgba(255,255,255,0);
	border:hidden;
	text-shadow:1px 1px 0 #000,  
    1px 1px 0 #000,
    1px 1px 0 #000,
     1px 1px 0 #000;
}

.cText {
	text-shadow:-1px 1px 0 #000,  
    -1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.drawBtn1 {
    max-width:150px;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:5%;
	min-height:80px;
	vertical-align:top;
	border: none;
	background:url(../images/singledraw1.png);
	background-size:100% 100%;
}

.drawBtn1 img {
    border: none;
	width: 100%;
	margin-right:auto;
	margin-bottom:10%;
	margin-top:10%;
}

.drawBtn1:active {
	border: none;
    background:url(../images/singledraw2.png);
	background-size:100% 100%;
}
#drawBtn2 {
    max-width:150px;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:5%;
	min-height:80px;
	vertical-align:top;
	border: none;
	background:url(../images/tendraw1.png);
	background-size:100% 100%;
	
}

#drawBtn2 img {
    width:100%;
	margin-bottom:10%;
	margin-top:10%;
}

#drawBtn2:active {
	border: none;
    background:url(../images/tendraw2.png);
	background-size:100% 100%;
}

.updateTitle {
	margin-top:10%;
}

.classBG {
	min-height:240px;
	max-height:100%;
	
}

.contenttable {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	max-width:500px;
	max-height:120px;
	min-height:40px;
}

.contenttable2 {
	background:url(../images/bg_gold.png) no-repeat; 
	background-size:100% 100%;
	margin-right:auto;
	margin-left:auto;
	vertical-align:top;
	max-width:530px;
}

.contenttable2 img {
	border: none;
	max-width: 100%;
	margin-right:auto;
	
}

#cotentbanner {
	margin-top:20%;
}

.blockitems {
	margin: 5px 5px;
}
.blockitems img {
	max-width:100%;
}

.blockitems2 {
	margin: 5px 5px;
}

.blockitems2 img {
	max-width:95px;
}


.overlayImage2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width:40%;
}



/* skills section */
.skills {
  background:rgba(0,102,255,0);
  color: #00F;
  border-radius: 5%;
}
.skills .progress {
  border-radius: 0px;
  height: 4px;
}
.skills .progress .progress-bar-primary {
  background: #204090;
}
.skills strong {
  display: inline-block;
  font-weight: normal;
  padding-bottom: 6px;
}

/* education section */
.education {
  background:rgba(255,255,255,0);
  color: #f5f5f5;
}
.education .education-content {
  background:url(../images/msgbox2.png) no-repeat; 
	background-size:100% 100%;
	margin-right:auto;
	margin-left:auto;
	vertical-align:top;
	max-width:400px;
	height:150px;
}
.education .education-content h3 {
	margin-top:3%;
	margin-left:3%;
	color:rgba(255,255,255,1);
	font-size:medium;
}

.education .education-content p {
	margin-top:2%;
	margin-left:3%;
	color:rgba(0,0,0,1);
	font-size:medium;
}

.education .education-content li {
	margin-left:3%;
	color:rgba(0,0,0,1);
	font-size:medium;
}

.education h5 {
  display: inline-block;
}
.education span {
  padding-right: 10px;
  padding-left: 20px;
}

/* languages section */
.languages {
  background:rgba(255,255,255,0);
 box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}
.languages ul {
  padding: 10px;
}
.languages ul li {
  padding-bottom: 6px;
}

/* contact section */
.contact {
  background: #fff;
 box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}
.contact .fa {
  padding-right: 6px;
}

/* experience section */
.experience {
  background: #3366CC;
  color: #f5f5f5;
}
.experience .experience-content {
  padding-bottom: 14px;
}
.experience h5 {
  display: inline-block;
}
.experience span {
  padding-right: 10px;
  padding-left: 20px;
}

/* footer section */
footer {
  color: #f9f9f9;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 100px;
}

/* social icon section */
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: #3366CC;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease-in;
  position: relative;
  bottom: 10px;
  top: 10px;
}
.social-icons li a:hover {
  background: #202020;
  color: #fff;
}

@media ( max-width: 980px ) {
  .skills {
    margin-top: 30px;
  }
}

@media ( max-width: 360px ) {
  header h1 {
    font-size: 30px;
  }
  .about h2 {
    font-size: 24px;
  }
  .education h4,
  .experience h4 {
    font-size: 20px;
  }
}